<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Your Playlist</h1>
     <% const arrAve = arr => arr.reduce((a,b) => a + b, 0) / arr.length  %>

    <p><%= femaleRate %></p>
    <p><%= maleRate %></p>
    <hr>
    <a class="btn btn-light btn-lg" href="/" role="button">Back</a>
    <!-- <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a> -->

  </div>
</div>

<%- include('partials/footer') %>
